body {
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #004E64;
    height: 100px;
    position: fixed;
    width: 100%;
}

a {
    color: #9FFFCB;
    text-decoration: none;
}

a:hover {
    color: black;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

li {
    display: inline-block;
    font-size: 1.8em;
    list-style-type: none;
    padding: 0 20px;
}

li:hover {
    background-color: #00A5CF;
    margin-top: -35px;
    padding: 0 20px;
    padding-bottom: 30px;
    padding-top: 34px;
}

.dropdown {
    display: none;
}