body {
    margin: 20px auto;
    width: 960px;
}

h1 {
    border-bottom: 1px solid #777777;
    color: #777777;
}

h2 {
    border-bottom: 1px dashed #AA0000;
    color: #AA0000;
}

.navigation {
    float: left;
}

hr {
    clear: both;
}

.navigation-link {
    background-color: #000000;
    color: #ffffff;
    display: block;
    float: left;
    margin: 20px;
    padding: 20px;
    text-decoration: none;
}

.image-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-image {
    display: inline;
    margin: 10px;
    padding: 8px;
}

.main-content {
    float: left;
    width: 70%;
}

.side-bar {
    background: #e7e7e7;
    float: right;
    width: 20%;
}

.content-footer {
    border-top: 1px solid #000000;
    clear: both;
    padding-top: 10px;
}

.image-list2 {
    margin: 0;
    padding: 0;
}

.image-list2 li {
    float: left;
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.image-list2 img {
    height: 100px;
    width: 100px;
}

.image-list2 h4 {
    text-align: center;
}